#active-page {
    color: var(--main-bg);
  }
  #nav-anchor {
    color: var(--section-bg);
  }
  
  .nav-container {
    color: var(--section-bg);
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    /* padding: 15px; */
    background-color: var(--main-text);
    border-radius: 10px;
    align-items: center;
  }
  .navName {
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }
  .line {
    border-left: 6px solid black;
  height:75px;
  }